extends layout

block content

  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
    .container
      a.navbar-brand(href='#') Bootstrap
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') Services
          li.nav-item
            a.nav-link(href='#') Contact
  // Page Content
  .container
    .row
      .col-lg-12.text-center
        h1.mt-5 Template
        p.lead Complete with pre-defined file paths and responsive navigation!
        ul.list-unstyled
          li Bootstrap 4.5.0
          li jQuery 3.5.1
  .container
    #mapid

  
  script(src='/vendor/jquery/jquery.slim.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/vendor/jquery/jquery.min.js')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  script(src='/javascripts/map.js')
